#container.valign-wrapper
  .row
    .card
      .card-content
        .row
          %h5=t 'wulin_auth.reset_password.email_sent_title'
        .row.center= t('wulin_auth.reset_password.email_sent')
