<div id='login_panel'>
  <h1>Login</h1>

  <%- if flash[:notice] %>
    <div id='flash_notice'>
      <%= flash[:notice] %>
    </div>
  <% end -%>

  <%= form_tag '/wulin_auth/user_sessions/new' do %>
    <div id='login'>
      Login
      <br/>
      <input id='login' type='text' name='login' />
    </div>
    <div id='password'>
      Password
      <br/>
      <input id='password' name='password' type='password' />
    </div>
    <div id='submit'>
      <input type='submit' value='login' />
    </div>
  <% end %>
</div>