%html
  %body
    %p=t 'wulin_auth.reset_password.email.hello'
    %p=t 'wulin_auth.reset_password.email.please_click'
    %p= link_to password_reset_token_url(:token => @user.token), password_reset_token_url(:token => @user.token)
    %p=t 'wulin_auth.reset_password.email.footer'
